################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/04-WinRT/04-NoGridNoPage/Hello/Hello/MainPage.xaml
